@using Microsoft.AspNet.Identity
<div class="account-panel">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <p><i class="fas fa-sign-in-alt"></i>@Html.ActionLink("Your Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "account-panel-link" })</p>
            <p><i class="fas fa-power-off"></i> <a href="javascript:document.getElementById('logoutForm').submit()" class="account-panel-link">Log off</a></p>
        }
    }
    else
    {
        <p><i class="fas fa-sign-in-alt"></i> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "account-panel-link" })</p>
        <p><i class="fas fa-power-off"></i> @Html.ActionLink("  Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "account-panel-link" })</p>
    }

</div>