@model iConcerto.Models.Events
<br />
<a href="@Url.Action("Index")" class="button-back"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
<h3>Are you sure you want to delete this?</h3>
<hr />

<div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p>You will not receive any email notifications after this action!</p>
            <input type="submit" value="Retreat" class="btn btn-warning pull-right" /> 
        </div>
    }
</div>
