body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("img/bg.jpg");
    background-color: #48007c;
    /*background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fullscreenDiv {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}

.content {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 25%;
}

.app-name {
    font-family: OCR A Std, monospace;
    font-weight: bolder;
    font-size: 115px;
    opacity: 0.8;
}

@media only screen and (max-width: 900px) {
    .app-name {
        font-size: 50px;
    }
}

.app-description {
    font-family: Trebuchet MS, sans-serif;
    font-weight: normal;
    font-size: 20px;
    max-width: 600px;
}

.btn-right {
    margin-left: 78%;
    width: 100px;
}

.nav div {
    height: 5px;
    background: #fff;
    margin: 5px 0;
    border-radius: 24px;
    transition: .3s;
}

.nav {
    display: block;
    margin: 2em 0 0 2em;
    width: 50px;
}

.one {
    width: 50px;
}

.two {
    width: 30px;
}

.three {
    width: 40px;
}

.nav:hover div {
    width: 50px;
}

.input-email {
    color: black;
    width: 100%;
    max-width: 100% !important;
    margin: 10px 0 30px 0;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 40px;
    padding-left: 10px;
}

.footer-content {
    opacity: 0.6;
}

.list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.event-panel-container {
    background-size: cover;
}

.event-panel {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    position: relative;
}

.event-panel * {

    opacity: 1;
}

.event-panel-link {
    position: absolute;
    color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.event-panel .btn-success {
    margin-right: 5px;
    width: 100px;
    z-index: 2;
}

.account-panel {
    width: auto;
    height: 90px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    padding: 20px;
}

.account-panel-link {
    color: white;
    margin: 20px;
}

.account-panel-link:hover{
    color: rgba(255,255,255,0.5);
}

.events-details-image {
    max-width: 100%;
    min-width: 100%;
}

.events-details-image-container {
    max-width: 100%;
    position: relative;
}

.events-details-image-text {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    width: 100%;
    height: 250px;
    padding-top: 35px;
    padding-left: 50px;
}

.button-back{
    color: white;
    font-size: medium;
}

.button-back:hover {
    color: rgba(255,255,255,0.5);
}

.events-details-assign {
    top: 30px;
    position: absolute;
    right: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.event-panel-options {
    z-index: 10;
}