@{
    ViewBag.Title = "Home Page";
}


<div class="fullscreenDiv" id="div1">
    <div class="content">
        <h1 class="app-name">iConcerto</h1>
        <p class="app-description">Get notifications about events nearby. Just add your email, and select available location!</p>
        @Html.ActionLink("JOIN", "Register", "Account",null,new { @class= "btn-success btn btn-right"})
    </div>
</div>
<script>

        $("#btn_join").click(function () {
            $("#div1").hide();
            $("#div2").show();
        })




</script>